<div class="Wrapper">
    <app-header></app-header>
    <main>
        <div class="mainWrapper">
            <div class="Anmeldung">
                <app-registration (submitUser)="onSubmitUser($event)" [User]="username" [historyreg]="messageHistory"></app-registration>
            </div>
            <div class="Chat">
                <app-history [history]="messageHistory"></app-history>
                <app-chat-bar [User]="username" [color]="colorunique"></app-chat-bar>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</div>
