.Login {    
    margin-top: 5vh;
    margin-right: 10vw;
}


button {
    transition-duration: 0.2s;
    margin-top: 1%;
    color: #00802F;
    border-color: #00802F;
    border-radius: 20px;
  }
  
button:hover {
    background-color: #00802F; /* Green */
    color: white;
  }

button:disabled {
    color: #00802F;
    background-color: white;
}

.logininformation{
  margin-top: 3vh;
  margin-bottom: 9vh;
}

.User{
  color:#00802F;
  font-size: x-large;
}

.allusers{
  margin-top: 8vh;
}

.userlist{
  overflow:auto;
  height: 30vh;
  width: 40vw;
}



hr{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-color:black;
  width: 7vw;
  
}


/* change scrollbar */
/* width */
::-webkit-scrollbar {
  width: 4px;;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}



/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00802F; 
}
