<div class="Login">
    <p>Bitte wählen Sie einen Username aus.</p>
    <textarea class="form-control" 
    [(ngModel)]="Username" 
    (keyup.enter)="addUser(Username)" 
    placeholder="Username hier eingeben..."
    rows="1" style="resize: none">
    </textarea>
    
    <button class="btn btn-outline-success" 
    (click)="addUser(Username)" 
    [disabled]="!Username">
    Login
    </button>

    <p class="logininformation"> Ihr Username: <span class="User">{{User}}</span></p>   
    <table>
            <tr>
                <th>Aktuell im Chat sind:</th>
            </tr>
            <div class="userlist">
                <div *ngFor="let element of usercol">
                    <tr [ngStyle] ="{color: element.color}"> {{element.user}}</tr>
                    <hr>
                </div>
            </div>
        </table>
</div>

