.Login {    
    margin-top: 5vh;
    margin-right: 10vw;
}


button {
    transition-duration: 0.2s;
    margin-top: 1%;
    color: #00802F;
    border-color: #00802F;
    border-radius: 20px;
  }
  
button:hover {
    background-color: #00802F; /* Green */
    color: white;
  }

button:disabled {
    color: #00802F;
    background-color: white;
}

.logininformation{
  margin-top: 3vh;
  margin-bottom: 9vh;
}

.User{
  color:#00802F;
  font-size: x-large;
}

.allusers{
  margin-top: 8vh;
}

.userlist{
  overflow:auto;
  height: 30vh;
  width: 40vw;
}

.userlist::-webkit-scrollbar {
  display: none;
}


hr{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-color:black;
  width: 7vw;
  
}