<div class="Login">
    <p>Bitte wählen Sie einen Username aus.</p>
    <textarea class="form-control" 
    [(ngModel)]="Username" 
    (keyup.enter)="addUser(Username)" 
    placeholder="Username hier eingeben..."
    rows="1">
    </textarea>
    
    <button class="btn btn-outline-success" 
    (click)="addUser(Username)" 
    [disabled]="!Username">
    Login
    </button>

    <p class="logininformation"> Sie sind angemeldet als: <span class="User">{{User}}</span></p>
    <p class="allusers">Aktuell im Chat befinden sich: </p>    
    <table>
            <tr>
                <th>Username</th>
            </tr>
            <div *ngFor="let element of usercol">
                <tr [ngStyle] ="{color: element.color}"> {{element.user}}</tr>
            </div>
        </table>
</div>

