.chatWindow{
    border-radius: 0.25em;
    border: 1px solid #ced4da;
    height: 50vh;
    margin-top: 5vh;
    margin-bottom: 1vh;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    word-break: break-all;

}

/* change scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00802F; 
}



.messages {
    margin-left: 1vw;
    width: 95%;
}

.User {
    margin-top: 1vh;
    color:#00802F;
    font-size:small;
    font-style: italic;
}
.UserMessages{
    border-radius:  8px;
    background-color: rgba(39, 39, 39, 0.1);
    display: inline-block;
    padding: 2px 7px 2px 7px;
    margin-bottom: 1vh;
}

.NotUser {
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: small;
    font-style: italic;
    text-align: right;

}

.NotUserText {
    color:black;
    margin-bottom: 2vh;
    border-radius:  8px;
    background-color: rgba(39, 39, 39, 0.1);
    float:right;
    padding: 2px 7px 2px 7px;
}

